*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: white;
  font-family: 'Nunito Sans', sans-serif;
  
}
.header{
  background: white;
  height: 50px;
  width: 100%;
  position: fixed;
}
.menu{
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 200px;
  font-weight: 700;
}
.menu ul{
  list-style: none;
  padding: 0;
  margin: 0 0 0 130px;
}
.menu li{
  float: left;
  list-style: none;
}
.menu a{
  margin-left: 20px;
  line-height: 70px;
  text-align: right;
  text-decoration: none;
  color: black;
}
.menu a:hover{
  color: blue;
}
.logo{
  /*background-color: rgb(116, 116, 221);*/
  text-align: center;
  position: flex;
  top: 0ch;
  left: 0;
  width: 100%;
  height: 600px;
}
.serv{
  text-align: center;
  color: rgb(240, 23, 95);
  font-weight: bold;
  font-size: 2em;
  padding: 50px;
}
.servicios{
  /*background-color: rgb(55, 160, 99);*/
  text-align: center;
  position: flex;
  top: 0ch;
  left: 0;
  width: 100%;
  height: 480px;
}
.pie{
  text-align: center;
  font-size: 16px;
  color: black;
  background: burlywood;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
}
